
@model String

<script type="text/javascript">
    //when someone typed wrong querry he/she don't need headers with description
    $('#tableHeaders').hide();
</script>

<h2>По запросу: <b><u>@Model</u></b> ничего не найдено. Попробуйте другие варианты.</h2>